@{
    ViewData["Title"] = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Fullscreen Slider Start -->
<div class="slider bg-navy-blue">
    <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
        <div id="rev_slider_1078_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
            <ul>
                <li data-index="rs-82"
                    data-transition="fade"
                    data-slotamount="default"
                    data-hideafterloop="0"
                    data-hideslideonmobile="off"
                    data-easein="Power4.easeOut"
                    data-easeout="Power4.easeOut"
                    data-masterspeed="1000"
                    data-thumb="../..//client/assets/images/waterfal-100x50.jpg"
                    data-rotate="0"
                    data-saveperformance="off"
                    data-title="Slide"
                    data-param1=""
                    data-param2=""
                    data-param3=""
                    data-param4=""
                    data-param5=""
                    data-param6=""
                    data-param7=""
                    data-param8=""
                    data-param9=""
                    data-param10=""
                    data-description=""
                    data-slicey_shadow="0px 0px 50px 0px transparent">
                    <!-- MAIN IMAGE -->
                    <img src="/client/assets/images/banner_web_2.png" alt=""
                         data-bgposition="center center"
                         data-kenburns="on"
                         data-duration="7000"
                         data-ease="Linear.easeNone"
                         data-scalestart="100"
                         data-scaleend="150"
                         data-rotatestart="0"
                         data-rotateend="0"
                         data-blurstart="0"
                         data-blurend="0"
                         data-offsetstart="0 0"
                         data-offsetend="0 0"
                         class="rev-slidebg"
                         data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme NotGeneric-Title"
                         id="slide-82-layer-2"
                         data-blendmode=”color-dodge“
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-70','-70','-70','-70']"
                         data-fontsize="['70','60','60','55']"
                         data-lineheight="['80','70','70','40']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":200,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">SG Express</div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption medium_light_white tp-resizeme"
                         id="slide-82-layer-3"
                         data-blendmode=”color-dodge“
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-10','-10','-10','-10']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":500,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-fontsize="['28','28','28','28']"
                         data-lineheight="['34','34','34','50']">VẬN CHUYỂN HÀNG HÓA VÀ KIỀU HỐI</div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption tp-resizeme small_light_white "
                         id="slide-82-layer-4"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['60','60','60','60']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":600,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-fontsize="['16','16','16','13']"
                         data-lineheight="['30','30','30','20']">AN TOÀN - NHANH CHÓNG - TIỆN LỢI</div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption tp-resizeme btn-theme bg-navy-blue rev-btn"
                         id="slide-82-layer-5"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['140','140','140','140']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":750,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[30,30,30,30]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[30,30,30,30]"
                         data-fontsize="['14','14','14','14']"
                         data-lineheight="['16','16','16','16']">Xem Thêm <i class="icofont-rounded-right"></i></div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-3045" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="rev-slider//client/assets/images/datcolor-100x50.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/client/assets/images/banner_web_2.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title tp-resizeme"
                         id="slide-3-layer-1"
                         data-x="left" data-hoffset="60"
                         data-y="center" data-voffset="-120"
                         data-width="['auto','auto','auto','auto']"
                         data-height="['auto','auto','auto','auto']"
                         data-transform_idle="o:1;"
                         data-fontsize="['70','70','70','45']"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="700"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 1; white-space: nowrap;">
                        <span class="slider-small">Gửi hàng từ Mỹ về</span> <br>Việt Nam
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title tp-resizeme"
                         id="slide-3-layer-2"
                         data-x="left" data-hoffset="60"
                         data-y="center" data-voffset="10"
                         data-width="['auto','auto','auto','auto']"
                         data-height="['auto','auto','auto','auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1400"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 2; white-space: nowrap; font-size: 18px; line-height: 30px;">
                        Giảm phụ thu 20 -30% hàng điện tử từ này cho đến hết 31-12-2021
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption BigBold-Button rev-btn "
                         id="slide-3-layer-3"
                         data-x="left" data-hoffset="60"
                         data-y="center" data-voffset="100"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 0);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power3.easeInOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-start="2100"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 3; white-space: nowrap; font-weight: 800;background-color:rgba(41, 46, 49, 1.00);border-color:rgba(255, 255, 255, 0);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                        XEM THÊM
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
        </div>
    </div>
</div>
<!-- Fullscreen Slider End -->
<!-- Main Body Content Start -->
<main id="body-content">
    <!-- Contact Callout Start -->
    <section class="contact-callout bg-navy-blue wide-tb-70 mb-spacer-md">
        <div class="container">
            <div class="row">
                <!-- Contact Column One -->
                <div class="col-12 col-lg-3 col-sm-6">
                    <div class="row align-items-start">
                        <div class="col-sm-auto col-2 text-center">
                            <i class="icofont-wall-clock icofont-2x"></i>
                        </div>
                        <div class="col pl-0">
                            <h5 class="mb-3 h5-xs fw-6">GIỜ LÀM VIỆC</h5>
                            <div class="text">
                                Thứ 2 - Thứ 6 09.00 - 18.00<br>
                                Thứ 7 09.00 - 14.00
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact Column One -->
                <!-- Contact Column One -->
                <div class="col-12 col-lg-3 col-sm-6">
                    <div class="row align-items-start">
                        <div class="col-sm-auto col-2 text-center">
                            <i class="icofont-phone icofont-2x"></i>
                        </div>
                        <div class="col pl-0">
                            <h5 class="mb-3 h5-xs fw-6">Hotline</h5>
                            <div class="text">
                                (USA)Mr. Vu: 561 468 6868 <br>
                                (VN)MR. Cuong: 0905 81 4444
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact Column One -->
                <!-- Spacer For Medium -->
                <div class="w-100 d-none d-sm-block d-lg-none spacer-60"></div>
                <!-- Spacer For Medium -->
                <!-- Contact Column One -->
                <div class="col-12 col-lg-3 col-sm-6">
                    <div class="row align-items-start">
                        <div class="col-sm-auto col-2 text-center">
                            <i class="icofont-envelope icofont-2x"></i>
                        </div>
                        <div class="col pl-0">
                            <h5 class="mb-3 h5-xs fw-6">EMAIL Chúng Tôi</h5>
                            <div class="text">
                                <a href="#" class="link-light">mail@logzee.com</a><br>
                                <a href="#" class="link-light">support@logzee.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact Column One -->
                <!-- Contact Column One -->
                <div class="col-12 col-lg-3 col-sm-6">
                    <div class="row align-items-start">
                        <div class="col-sm-auto col-2 text-center">
                            <i class="icofont-envelope-open icofont-2x"></i>
                        </div>
                        <div class="col pl-0">
                            <h5 class="mb-3 h5-xs fw-6">Đăng ký Tin</h5>
                            <div class="text">
                                <a href="#" class="btn-theme bg-light-theme light tra">
                                    Bắt đầu ngay!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact Column One -->
            </div>
        </div>
    </section>
    <!-- Contact Callout End -->
    <!-- Welcome To Cargo Start -->
    <section class="bg-white wide-tb-100">
        <div class="container">
            <div class="row">
                <!-- Heading Main -->
                <div class="col-sm-12 wow fadeInDown" data-wow-duration="0" data-wow-delay="0s">
                    <h1 class="heading-main">
                        <span>WELCOME TO</span>
                        SG EXPRESS
                    </h1>
                </div>
                <!-- Heading Main -->
                <!-- Icon Box 1 -->
                <div class="col-md-4 wow fadeInUp" data-wow-duration="0" data-wow-delay="0.1s">
                    <a href="service-details.html">
                        <div class="icon-box-1">
                            <img src="/client/assets/images/icon-box-1.jpg" alt="">
                            <div class="text">
                                <i class="icofont-vehicle-delivery-van"></i>
                                ĐƯỜNG BỘ
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Icon Box 1 -->
                <!-- Icon Box 1 -->
                <div class="col-md-4 wow fadeInUp" data-wow-duration="0" data-wow-delay="0.4s">
                    <a href="service-details.html">
                        <div class="icon-box-1">
                            <img src="/client/assets/images/icon-box-2.jpg" alt="">
                            <div class="text">
                                <i class="icofont-airplane-alt"></i>
                                HÀNG KHÔNG
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Icon Box 1 -->
                <!-- Icon Box 1 -->
                <div class="col-md-4 wow fadeInUp" data-wow-duration="0" data-wow-delay="0.6s">
                    <a href="service-details.html">
                        <div class="icon-box-1">
                            <img src="/client/assets/images/icon-box-3.jpg" alt="">
                            <div class="text">
                                <i class="icofont-ship"></i>
                                ĐƯỜNG BIỂN
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Icon Box 1 -->

            </div>
        </div>
    </section>
    <!-- Welcome To Cargo End -->
    <!-- What Makes Us Special Start -->
    <section class="bg-light-gray wide-tb-100 bg-wave">
        <div class="container pos-rel">
            <div class="row"> 
                <!-- Heading Main -->
                <div class="col-sm-12 wow fadeInDown" data-wow-duration="0" data-wow-delay="0s">
                    <h1 class="heading-main">
                        <span>THÔNG TIN GỬI HÀNG TỪ MỸ VỀ VIỆT NAM</span>
                        AN TOÀN - NHANH CHÓNG - TIỆN LỢI
                    </h1>
                </div>
                <!-- Heading Main -->
                <div class="col-md-12 ml-auto why-choose wow fadeInRight" data-wow-duration="0" data-wow-delay="0.6s">
                    <div class="row">
                        <!-- Icon Box 2 -->
                        <div class="col-12 col-lg-6">
                            <div class="icon-box-2">
                                <div class="media">
                                    <div class="service-icon">
                                        <i class="icofont-id"></i>
                                    </div>
                                    <div class="service-inner-content media-body">
                                        <h4 class="h4-md">Chuyển phát nhanh các mặt hàng</h4>
                                        <p>Điện tử, Sữa, Mỹ phẩm, Vitamin, Hàng gia dụng ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Icon Box -->
                        <!-- Icon Box 2 -->
                        <div class="col-12 col-lg-6">
                            <div class="icon-box-2">
                                <div class="media">
                                    <div class="service-icon">
                                        <i class="icofont-live-support"></i>
                                    </div>
                                    <div class="service-inner-content media-body">
                                        <h4 class="h4-md">Tiết kiệm thời gian của quý khách</h4>
                                        <p>Chúng tôi luôn có sẵn các loại sữa Ensure và Entrust dành cho người tiểu đường cũng như Vitamin thông dụng phục vụ nhu cầu của quý khách.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Icon Box -->
                        <!-- Spacer For Medium -->
                        <div class="w-100 spacer-60 d-none d-md-none d-lg-block d-sm-none"></div>
                        <!-- Spacer For Medium -->
                        <!-- Icon Box 2 -->
                        <div class="col-12 col-lg-6">
                            <div class="icon-box-2">
                                <div class="media">
                                    <div class="service-icon">
                                        <i class="icofont-history"></i>
                                    </div>
                                    <div class="service-inner-content media-body">
                                        <h4 class="h4-md">Pick-up</h4>
                                        <p>Trong phạm vi West PaimBeach, Wellington, RoyalPalm, Jupiter ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Icon Box -->
                        <!-- Icon Box 2 -->
                        <div class="col-12 col-lg-6">
                            <div class="icon-box-2">
                                <div class="media">
                                    <div class="service-icon">
                                        <i class="icofont-briefcase-1"></i>
                                    </div>
                                    <div class="service-inner-content media-body">
                                        <h4 class="h4-md">Mang quà tận tay</h4>
                                        <p>Hãy để chúng tôi mang nhưng món quà đến tận tay người thân của quý khách 1 cách nhanh chóng và thuận tiện nhất</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Icon Box -->
                    </div>

                    <div class="col-sm-12 text-center">
                        <div class="spacer-50">
                        </div>
                        <a href="#" role="button" data-toggle="modal" data-target="#request_popup" class="btn-theme bg-navy-blue">Yêu Cầu Báo Giá <i class="icofont-rounded-right"></i></a>
                        <div class="spacer-30">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- What Makes Us Special End -->
    <!-- Counter Start -->
    <section class="wide-tb-100 bg-scroll counter-bg pos-rel">
        <div class="bg-overlay blue opacity-50"></div>
        <div class="container">
            <div class="row">
                <!-- Counter Col Start -->
                <div class="col counter-style-1 col-6 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">
                    <p><i class="icofont-google-map"></i></p>
                    <span class="counter">15</span>
                    <div>
                        Our Locations
                    </div>
                </div>
                <!-- Counter Col End -->
                <!-- Counter Col Start -->
                <div class="col counter-style-1 col-6 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">
                    <p><i class="icofont-globe"></i></p>
                    <span class="counter">110</span>
                    <span>+</span>
                    <div>
                        Clients Worldwide
                    </div>
                </div>
                <!-- Counter Col End -->
                <!-- Spacer For Medium -->
                <div class="w-100 d-none d-sm-block d-lg-none spacer-60"></div>
                <!-- Spacer For Medium -->
                <!-- Counter Col Start -->
                <div class="col counter-style-1 col-6 col-lg-3 col-sm-6 wow fadeInRight" data-wow-duration="0" data-wow-delay="0">
                    <p><i class="icofont-vehicle-delivery-van"></i></p>
                    <span class="counter">240</span>
                    <span>+</span>
                    <div>
                        Owned Vehicles
                    </div>
                </div>
                <!-- Counter Col End -->
                <!-- Counter Col Start -->
                <div class="col counter-style-1 col-6 col-lg-3 col-sm-6 wow fadeInRight" data-wow-duration="0" data-wow-delay="0s">
                    <p><i class="icofont-umbrella-alt"></i></p>
                    <span class="counter">2340</span>
                    <div>
                        Tonnes Transported
                    </div>
                </div>
                <!-- Counter Col End -->
            </div>
        </div>
    </section>
    <!-- Counter End -->
    <!-- Tracking Your Freight Start -->
    <section class="wide-tb-100 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ml-lg-auto pos-rel col-md-12">

                    <!-- Heading Main -->
                    <h1 class="heading-main text-left">
                        <span>trạng thái</span>
                       Đơn hàng của bạn
                    </h1>
                    <!-- Heading Main -->
                    <!-- Tracking Form -->
                    <form class="form-inline tracking">
                        <input type="text" class="form-control mb-2 mr-sm-2 col" placeholder="Nhập mã đơn hàng">
                        <button type="submit" class="btn btn-theme bg-navy-blue mb-2 ml-3">Kiểm tra <i class="icofont-rounded-right"></i></button>
                    </form>
                    <!-- Tracking Form -->
                    <!-- Forklift Image -->
                    <div class="forklift-image wow slideInLeft" data-wow-duration="0" data-wow-delay="0s">
                        <img src="/client/assets/images/forklift_Image.png" alt="">
                    </div>
                    <!-- Forklift Image -->

                </div>
            </div>
        </div>
    </section>
    <!-- Tracking Your Freight End -->
   
  

    
</main>
<!-- Main Body Content Start -->
@section Scripts{
    <script type="text/javascript">

    var tpj=jQuery;

    var revapi1078;
    tpj(document).ready(function() {
      if(tpj("#rev_slider_1078_1").revolution == undefined){
        revslider_showDoubleJqueryError("#rev_slider_1078_1");
      }else{
        revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
          sliderType:"standard",
jsFileLocation:"revolution/js/",
          sliderLayout:"fullscreen",
          dottedOverlay:"none",
          delay:9000,
          navigation: {
            keyboardNavigation:"off",
            keyboard_direction: "horizontal",
            mouseScrollNavigation:"off",
            mouseScrollReverse:"default",
            onHoverStop:"off",
            touch:{
              touchenabled:"on",
              swipe_threshold: 75,
              swipe_min_touches: 1,
              swipe_direction: "horizontal",
              drag_block_vertical: false
            }
            ,
            arrows: {
              style:"metis",
              enable:true,
              hide_onmobile:true,
              hide_under:600,
              hide_onleave:true,
              hide_delay:200,
              hide_delay_mobile:1200,
              //tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
              left: {
                h_align:"left",
                v_align:"center",
                h_offset:30,
                v_offset:0
              },
              right: {
                h_align:"right",
                v_align:"center",
                h_offset:30,
                v_offset:0
              }
            }
            ,
            bullets: {
              style: 'hades',
              tmp: '<span class="tp-bullet-image"></span>',
              enable:false,
              hide_onmobile:true,
              hide_under:600,
              //style:"metis",
              hide_onleave:true,
              hide_delay:200,
              hide_delay_mobile:1200,
              direction:"horizontal",
              h_align:"center",
              v_align:"bottom",
              h_offset:0,
              v_offset:30,
              space:5,
              //tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
            }
          },
          viewPort: {
            enable:true,
            outof:"pause",
            visible_area:"80%",
            presize:false
          },
          responsiveLevels:[1240,1024,778,480],
          visibilityLevels:[1240,1024,778,480],
          gridwidth:[1240,1024,778,480],
          gridheight:[600,600,500,400],
          lazyType:"none",
          parallax: {
            type:"mouse",
            origo:"slidercenter",
            speed:2000,
            levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
            type:"mouse",
          },
          shadow:0,
          spinner: 'spinner2',
          stopLoop:"off",
          stopAfterLoops:-1,
          stopAtSlide:-1,
          shuffle:"off",
          autoHeight:"off",
          hideThumbsOnMobile:"off",
          hideSliderAtLimit:0,
          hideCaptionAtLimit:0,
          hideAllCaptionAtLilmit:0,
          debugMode:false,
          fallbacks: {
            simplifyAll:"off",
            nextSlideOnWindowFocus:"off",
            disableFocusListener:false,
          }
        });
      }
    }); /*ready*/
    </script>
}
