@model List<Logictics.Service.ViewModel.OrderClientReponse>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            @item.orderID
        }
    }
</head>
<body>
</body>
</html>

<div class="slider bg-navy-blue bg-fixed pos-rel breadcrumbs-page">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="icofont-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gallery grid</li>
            </ol>
        </nav>

        <h1>Gallery grid</h1>
        <div class="breadcrumbs-description">
            Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
        </div>
    </div>
</div>
<!-- Page Breadcrumbs End -->
<!-- Main Body Content Start -->
<main id="body-content">

    <!-- Contact Details Start -->
    <section class="wide-tb-80 contact-full-shadow">
        <div class="container">
            <div class="contact-map-bg">
                <img src="assets/images/map-bg.png" alt="">
            </div>
            <div class="row justify-content-between">
                <div class="col-md-6 col-sm-12 col-lg-4 wow fadeInRight" data-wow-duration="0" data-wow-delay="0s">
                    <div class="contact-detail-shadow">
                        <h4>Germany</h4>
                        <div class="d-flex align-items-start items">
                            <i class="icofont-google-map"></i> <span>
                                Envato Pty Ltd, 13/2 Elizabeth
                                St Melbourne VIC 3000, Australia
                            </span>
                        </div>
                        <div class="d-flex align-items-start items">
                            <i class="icofont-phone"></i> <span>+1 (408) 786 - 5117</span>
                        </div>
                        <div class="text-nowrap d-flex align-items-start items">
                            <i class="icofont-email"></i> <a href="#">germany@logzee.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-4 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">
                    <div class="contact-detail-shadow">
                        <h4>Spain</h4>
                        <div class="d-flex align-items-start items">
                            <i class="icofont-google-map"></i> <span>
                                Envato Pty Ltd, 13/2 Elizabeth
                                St Melbourne VIC 3000, Australia
                            </span>
                        </div>
                        <div class="d-flex align-items-start items">
                            <i class="icofont-phone"></i> <span>+1 (408) 786 - 5117</span>
                        </div>
                        <div class="text-nowrap d-flex align-items-start items">
                            <i class="icofont-email"></i> <a href="#">spain@logzee.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Details End -->
    <!-- Contact Details Start -->
    <section class="wide-tb-80 contact-full-shadow">
        <div class="container">
            <h3 class="h3-sm fw-6 txt-blue mb-4">Order Code</h3>
            <div class="contact-map-bg">
                <img src="assets/images/map-bg.png" alt="">
            </div>
            <div class="row justify-content-between">
                <div class="col-md-6 col-sm-12 col-lg-4 wow fadeInRight" data-wow-duration="0" data-wow-delay="0s">
                    <div class="contact-detail-shadow">
                        <h4>Sender:</h4>
                        <div class="d-flex align-items-start items">
                            <i class="icofont-google-map"></i> <span>
                                Envato Pty Ltd, 13/2 Elizabeth
                                St Melbourne VIC 3000, Australia
                            </span>
                        </div>
                        <div class="d-flex align-items-start items">
                            <i class="icofont-phone"></i> <span>+1 (408) 786 - 5117</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-4 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">
                    <div class="contact-detail-shadow">
                        <h4>Recipient:</h4>
                        <div class="d-flex align-items-start items">
                            <i class="icofont-google-map"></i> <span>
                                Envato Pty Ltd, 13/2 Elizabeth
                                St Melbourne VIC 3000, Australia
                            </span>
                        </div>
                        <div class="d-flex align-items-start items">
                            <i class="icofont-phone"></i> <span>+1 (408) 786 - 5117</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Details End -->
</main>
