
@{
    ViewData["Title"] = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider bg-navy-blue bg-fixed pos-rel breadcrumbs-page">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="icofont-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
            </ol>
        </nav>

        <h1>Giới Thiệu</h1>
        <div class="breadcrumbs-description">
            VẬN CHUYỂN HÀNG HÓA VÀ KIỀU HỐI
        </div>
    </div>
</div>
<!-- Page Breadcrumbs End -->
<!-- Main Body Content Start -->
<main id="body-content">

    <!-- What Makes Us Special Start -->
    <section class="wide-tb-80">
        <div class="container pos-rel">
            <div class="row align-items-center">

                <div class="col-md-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">
                    <h2 class="mb-4 fw-7 txt-blue">
                       Sài Gòn <span class="fw-6 txt-orange">Express</span>
                    </h2>
                    <p>Huế, Sài Gòn, Hà Nội lấy hàng tận nhà không thu phí ở nội thành </p>
                    <p>Nhận hàng miễn phí tại nhà xe Tân Phú, Tân Bình </p>
                    
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-duration="0" data-wow-delay="0s">
                    <img src="/client/assets/images/map-bg-orange.jpg" alt="">
                </div>

            </div>

        </div>
    </section>
    <!-- What Makes Us Special End -->
    <!-- Tracking Your Freight Start -->
    <section class="pos-rel bg-light-theme">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-5 col-12 p-0">
                    <img src="/client/assets/images/why-choose-us.jpg" class="w-100" alt="">
                </div>
                <div class="col-lg-6 col-12">

                    <div class="p-5 about-whoose">
                        <!-- Heading Main -->
                        <h1 class="heading-main text-left mb-4">
                            <span>Thông Tin Gửi Hàng Từ Mỹ Về Việt Nam</span>
                            AN TOÀN - NHANH CHÓNG - TIỆN LỢI
                        </h1>
                        <!-- Heading Main -->
                        <!-- Tracking Form -->
                        <ul class="list-unstyled icons-listing theme-orange w-half mb-0">
                            <li class="wow fadeInUp" data-wow-duration="0" data-wow-delay="0s"><i class="icofont-check"></i>Chuyển phát nhanh các mặt hàng: Hàng điện tử, sữa, mỹ phẩm, hàng gia dụng ...</li>
                            <li class="wow fadeInUp" data-wow-duration="0" data-wow-delay="0.1s"><i class="icofont-check"></i>Để tiết kiệm thời gian của quý khách chúng tôi luôn có sẵn các loại sữa Ensure và Entrust dành cho người tiểu đường cũng như Vitamin thông dụng phục vụ nhu cầu của quý khách.</li>
                            <li class="wow fadeInUp" data-wow-duration="0" data-wow-delay="0.2s">
                                <i class="icofont-check"></i>Pick-up Trong phạm vi West PaimBeach, Wellington, RoyalPalm, Jupiter ...
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="0" data-wow-delay="0.3s"><i class="icofont-check"></i>Hãy để chúng tôi mang nhưng món quà đến tận tay người thân của quý khách 1 cách nhanh chóng và thuận tiện nhất</li>
                            <li class="wow fadeInUp" data-wow-duration="0" data-wow-delay="0.4s"><i class="icofont-check"></i>Không phụ thêm cho đơn hàng có giá trị dưới $250</li>
                            <li class="wow fadeInUp" data-wow-duration="0" data-wow-delay="0.5s"><i class="icofont-check"></i>Giảm phụ thu cho tất cả đơn hàng điện tử từ này 31/12/2021</li>
                            <li class="wow fadeInUp" data-wow-duration="0" data-wow-delay="0.6s"><i class="icofont-check"></i>Quý khách có thể kiểm tra và theo dõi thùng hàng của mình thông qua dịch vụ hỗ trợ bằng sms và online của công ty</li>
                           
                        </ul>
                        <!-- Tracking Form -->
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Tracking Your Freight End -->

   

</main>

