<!doctype html>
<html lang="en">
<head>
    <!-- xxx Basics xxx -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- xxx Change With Your Information xxx -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <title>SG EXPRESS</title>
    <meta name="author" content="Mannat Studio">
    <meta name="description" content="Logzee is a Responsive HTML5 Template for Logistic and Cargo related services.">
    <meta name="keywords" content="Logzee, responsive, html5, business, cargo, chain supply, company, corporate, expedition, freight, logistics, packaging, services, shipping, transport, transportation, trucking, warehousing">

    <!-- xxx Favicon xxx -->
    <link rel="shortcut icon" type="image/x-icon" href="/client/assets/images/favicon.ico">

    <!-- Main Style CSSS -->
    <link href="/client/assets/css/theme-plugins.min.css" rel="stylesheet">
    <!-- Main Theme CSS -->
    <link href="/client/assets/css/style.css" rel="stylesheet">
    <!-- Responsive Theme CSS -->
    <link href="/client/assets/css/responsive.css" rel="stylesheet">

    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="/client/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/client/assets/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/client/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/client/assets/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="/client/assets/revolution/fonts/font-awesome/css/font-awesome.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Page loader Start -->
    <div id="pageloader">
        <div class="loader-item">
            <div class="loader">
                <div class="spin"></div>
                <div class="bounce"></div>
            </div>
        </div>
    </div>
    <!-- Page loader End -->



    <header class="wow fadeInDown">
        <div class="top-bar d-flex align-items-center text-md-left">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <i class="icofont-google-map"></i>  3020 ButternutlnRivera beach Fl 33410
                    </div>
                    <div class="col-md-auto">
                        <span class="mr-3"><i class="icofont-ui-touch-phone"></i>561 468 6868</span>

                        <span class="mr-3"><i class="icofont-ui-email"></i> Email Us</span>
                        <!-- Topbar Language Dropdown Start -->
                        <div class="dropdown d-inline-flex lang-toggle">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" data-animations="slideInUp slideInUp slideInUp slideInUp">
                                <img src="/client/assets/images/us.svg" alt="" class="dropdown-item-icon">
                                <span class="d-inline-block d-lg-none">US</span>
                                <span class="d-none d-lg-inline-block">United States</span> <i class="icofont-rounded-down"></i>
                            </a>
                            <div class="dropdown-menu dropdownhover-bottom dropdown-menu-right" role="menu">
                                <a class="dropdown-item active" href="#">English</a>
                                <a class="dropdown-item" href="#">Deutsch</a>
                                <a class="dropdown-item" href="#">Español&lrm;</a>
                            </div>
                        </div>
                        <!-- Topbar Language Dropdown End -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Navigation Start -->
        <nav class="header-fullpage navbar navbar-expand-lg">
            <div class="container">
                <div class="d-flex align-items-center w-100 col p-0">
                    <a class="navbar-brand rounded-bottom light-bg" href="/Client/HomeClient">
                        <img src="/client/assets/images/sg-express-logo-black.png" alt="">
                    </a>
                </div>
                <!-- Topbar Request Quote Start -->
                <div class="d-inline-flex request-btn order-lg-last col p-0">
                    <a class="nav-link" href="#" id="search_home"><i class="icofont-search"></i></a>
                    <a class="btn-theme icon-left bg-navy-blue no-shadow align-self-center" href="#" role="button" data-toggle="modal" data-target="#request_popup"><i class="icofont-list"></i><span class="d-none d-sm-inline-block"> Báo giá</span></a>
                    <!-- Toggle Button Start -->
                    <button class="navbar-toggler x collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Toggle Button End -->
                </div>
                <!-- Topbar Request Quote End -->

                <div class="collapse navbar-collapse" id="navbarCollapse" data-hover="dropdown" data-animations="slideInUp slideInUp slideInUp slideInUp">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle-mob" href="/Client/HomeClient">Trang Chủ </a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle-mob" href="/Client/AboutUs">Giới Thiệu</a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle-mob" href="/Client/Service">Dịch Vụ </a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle-mob" href="/Client/Contact">Liên Hệ</a>
                        </li>

                    </ul>
                    <!-- Main Navigation End -->
                </div>
            </div>
        </nav>
        <!-- Main Navigation End -->
    </header>
    <!-- Main Navigation End -->
    @RenderBody()
    <!-- Main Footer Start -->
    <footer class="wide-tb-70 bg-light-gray pb-0">
        <div class="container">
            <div class="row">

                <!-- Column First -->
                <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">
                    <div class="logo-footer">
                        <img src="/client/assets/images/sg-express-logo-black.png" alt="">
                    </div>
                    <p>
                        <b style="font-weight: 600;">Trụ sở chính:</b> 13020 ButternutlnRivera beach Fl 33410
                    </p>
                    <p> <b style="font-weight: 600;">Giờ làm việc:</b> 7:00 - 20:00</p>
                    <p>
                        <b style="font-weight: 600;">Email:</b> us@sglogictic.vn
                    </p>
                    <p>
                        <b style="font-weight: 600;">Liên hệ:</b> 832 821 0282 (Mr.Vũ)
                    </p>
                </div>
                <!-- Column First -->
                <!-- Column Second -->
                <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0.2s">
                    <h3 class="footer-heading">Chi Nhánh</h3>
                    <div class="blog-list-footer">
                        <ul class="list-unstyled">

                            <li>
                                <div class="media">

                                    <div class="media-body post-text">
                                        <h5 class="mb-3 h5-md"><a href="#">Huế</a></h5>
                                        <p>
                                            <b style="font-weight: 600;">Địa chỉ:</b> Khu tập thể Đống Đa, P.Phú Hội, TP.Huế
                                        </p>
                                        <p> <b style="font-weight: 600;">Giờ làm việc:</b> 7:00 - 20:00</p>
                                        <p>
                                            <b style="font-weight: 600;">Liên hệ:</b> 094 864 2468(Mr.Lực)
                                        </p>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>
                <!-- Column Second -->
                <!-- Column Third -->
                <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0.2s">
                    <h3 class="footer-heading" style=" visibility: hidden;">Chi Nhánh</h3>
                    <div class="blog-list-footer">
                        <ul class="list-unstyled">
                            <li>
                                <div class="media">

                                    <div class="media-body post-text">
                                        <h5 class="mb-3 h5-md"><a href="#">Sài Gòn</a></h5>
                                        <p>
                                            <b style="font-weight: 600;">Địa chỉ:</b> 157 Nguyễn Thái Bình, P.4, Q.Tân Bình
                                        </p>
                                        <p> <b style="font-weight: 600;">Giờ làm việc:</b> 7:00 - 20:00</p>
                                        <p>
                                            <b style="font-weight: 600;">Liên hệ:</b> 091 596 1313 (Mr.Cường)
                                        </p>


                                    </div>
                                </div>
                            </li>


                        </ul>

                    </div>
                </div>
                <!-- Column Third -->
                <!-- Column Fourth -->
                <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0.4s">
                    <h3 class="footer-heading" style=" visibility: hidden;">?</h3>
                    <div class="media">

                        <div class="media-body post-text">
                            <h5 class="mb-3 h5-md"><a href="#">Hà Nội</a></h5>
                            <p>
                                <b style="font-weight: 600;">Địa chỉ:</b>Số 61 Tổ 5 Trần Thị Sóc Sơn, Hà Nội
                            </p>
                            <p> <b style="font-weight: 600;">Giờ làm việc:</b> 7:00 - 20:00</p>
                            <p>
                                <b style="font-weight: 600;">Liên hệ:</b> 08 44 33 8585(Mr.Duy)
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Column Fourth -->

            </div>
        </div>


    </footer>
    <!-- Main Footer End -->
    <!-- Search Popup Start -->
    <div class="overlay overlay-hugeinc">
        <form action="/client/HomeClient/Search" class="form-inline mt-2 mt-md-0">
            <div class="form-inner">
                <div class="form-inner-div d-inline-flex align-items-center no-gutters">
                    <div class="col-md-1">
                        <i class="icofont-search"></i>
                    </div>
                    <div class="col-10">
                        <input id="phone" name="phone" class="form-control w-100 p-0" type="text" placeholder="Nhập Số Điện Thoại" aria-label="Search">
                    </div>
                    <div class="col-md-1">
                        <a onclick="searchPhone()" class="overlay-close link-oragne"><i class="icofont-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Search Popup End -->
    <!-- Back To Top Start -->
    <a id="mkdf-back-to-top" href="#" class="off"><i class="icofont-rounded-up"></i></a>
    <!-- Back To Top End -->
    <!-- Request Modal -->
    <div class="modal fade" id="request_popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered request_popup" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <!-- Contact Details Start -->
                    <section class="pos-rel bg-light-gray">
                        <div class="container-fluid p-0">
                            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="icofont-close-line"></i>
                            </a>
                            <div class="d-lg-flex justify-content-end no-gutters mb-spacer-md" style="box-shadow: 0px 18px 76px 0px rgba(0, 0, 0, 0.06);">
                                <div class="col bg-fixed bg-img-7 request_pag_img">
                                    &nbsp;
                                </div>


                                <div class="col-md-7 col-12">
                                    <div class="px-3 m-5">
                                        <h2 class="h2-xl mb-4 fw-6">Yêu Cầu Báo Giá</h2>
                                        <form action="#" method="post" novalidate="novalidate" class="rounded-field">

                                            <div class="form-row mb-4">
                                                <div class="col">
                                                    <select title="Please choose a package" required="" name="package" class="form-control wide" aria-required="true" aria-invalid="false">
                                                        <option value="">Loại hình vận chuyển</option>
                                                        <option value="Máy bay">Máy bay</option>
                                                        <option value="Đường biển">Đường biển</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <select title="Please choose a package" required="" name="package" class="form-control wide" aria-required="true" aria-invalid="false">
                                                        <option value="">Đặc tính hàng hóa</option>
                                                        <option value="Tài liệu">Tài liệu</option>
                                                        <option value="Thời trang Mỹ phẩm">Thời trang Mỹ phẩm</option>
                                                        <option value="Đồ điện tử">Đồ điện tử</option>
                                                        <option value="Dược phẩm">Dược phẩm</option>
                                                        <option value="Thực phẩm">Thực phẩm</option>
                                                        <option value="Đồ tươi sống">Đồ tươi sống</option>
                                                        <option value="Đồ có pin">Đồ có pin</option>
                                                        <option value="Chất bột nước">Chất bột nước</option>
                                                        <option value="Chất dễ cháy">Chất dễ cháy</option>
                                                        <option value="Hàng hóa thông thường">Hàng hóa thông thường</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row mb-4">
                                                <div class="col">
                                                    <input type="text" name="name" class="form-control" placeholder="Quốc gia nơi gửi ">
                                                </div>
                                                <div class="col">
                                                    <input type="text" name="name" class="form-control" placeholder="Thành Phố nơi gửi">
                                                </div>
                                                <div class="col">
                                                    <input type="text" name="email" class="form-control" placeholder="Địa chỉ nơi gửi">
                                                </div>
                                            </div>
                                            <div class="form-row mb-4">
                                                <div class="col">
                                                    <input type="text" name="name" class="form-control" placeholder="Quốc gia nơi nhận">
                                                </div>
                                                <div class="col">
                                                    <input type="text" name="name" class="form-control" placeholder="Thành Phố nơi nhận">
                                                </div>
                                                <div class="col">
                                                    <input type="text" name="email" class="form-control" placeholder="Địa chỉ nơi nhận">
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="center-head"><span class="bg-light-gray txt-orange">Your Personal Details</span></div>
                                                </div>
                                            </div>
                                            <div class="form-row mb-4">
                                                <div class="col">
                                                    <input type="text" name="name" class="form-control mb-3" placeholder="Họ Tên">
                                                    <input type="text" name="name" class="form-control mb-3" placeholder="Email">
                                                    <input type="text" name="name" class="form-control" placeholder="Số Điện Thoại">
                                                </div>
                                                <div class="col">
                                                    <textarea rows="7" placeholder="Tin Nhắn" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col pt-3">
                                                    <button type="submit" class="form-btn btn-theme bg-orange">Gửi Thông Tin <i class="icofont-rounded-right"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Contact Details End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Request Modal -->
    <!-- Jquery Library JS -->
    <script src="/client/assets/js/jquery.min.js"></script>
    <script src="/client/assets/js/theme-plugins.min.js"></script>
    <script src="/client/assets/twitter/jquery.tweet.js"></script>


    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="/client/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/client/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="/client/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/client/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/client/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/client/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/client/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/client/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/client/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/client/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/client/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <!-- Theme Custom FIle -->
    <script src="/client/assets/js/site-custom.js"></script>
    <script>
        function searchPhone() {
            var phone = $("#phone").val();
            if (phone == "") {
                return alert("Không được để trống")
            }
            window.location.href = '/Client/HomeClient/Search?phone=' + phone;
        }
    </script>
    @RenderSection("Scripts", required: false)


</body>
</html>
