
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider bg-navy-blue bg-fixed pos-rel breadcrumbs-page">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="icofont-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Dịch Vụ</li>
            </ol>
        </nav>

        <h1>Dịch Vụ</h1>
        <div class="breadcrumbs-description">
            THÔNG TIN GỬI HÀNG TỪ MỸ VỀ VIỆT NAM
        </div>
    </div>
</div>
<main id="body-content">
    <section class="wide-tb-100 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="h3-sm fw-6 txt-blue mb-4">Bảng Giá</h3>
                </div>

                <div class="col-sm-12">
                    <ul class="nav nav-pills theme-tabbing mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item mt-2">
                            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">Hàng Thường</a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">Hàng Thường + Đồ Ăn + Mỹ Phẩm</a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile-2" role="tab" aria-controls="pills-profile-2" aria-selected="false">Hàng Thường + Đồ Ăn</a>
                        </li>
                    </ul>
                    <div class="tab-content theme-tabbing" id="pills-tabContent">
                        <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <h4 class="h4-xs txt-blue">Giá Gửi Hàng Thường</h4>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>

                                        <th scope="col">Số Kilogam gửi</th>
                                        <th scope="col">Giá Cước</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>Gửi 21kg đến 45kg</td>
                                        <td>Giá 228.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 46kg đến 70kg</td>
                                        <td>Giá 219.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 71kg đến 99kg</td>
                                        <td>Giá 204.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 100kg đến 299kg</td>
                                        <td>Giá 198.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Trên 300kg</td>
                                        <td>Giá 190.000 VNĐ/ 1kg</td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade active show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <h4 class="h4-xs txt-blue">Hàng Thường + Đồ Ăn + Mỹ Phẩm</h4>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>

                                        <th scope="col">Số Kilogam gửi</th>
                                        <th scope="col">Giá Cước</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>Gửi 1kg</td>
                                        <td>Giá 940.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 2kg</td>
                                        <td>Giá 520.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 3kg đến 4kg</td>
                                        <td>Giá 430.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 5kg đến 9kg</td>
                                        <td>Giá 355.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 10kg đến 14kg</td>
                                        <td>Giá 310.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 15kg đến 20kg</td>
                                        <td>Giá 300.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 21kg đến 30kg</td>
                                        <td>Giá 260.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 31kg đến 50kg</td>
                                        <td>Giá 255.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 51kg đến 68kg</td>
                                        <td>Giá 252.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Trên 69kg</td>
                                        <td>Giá 260.000 VNĐ/ 1kg</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade  show" id="pills-profile-2" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <h4 class="h4-xs txt-blue">Hàng Thường + Đồ Ăn</h4>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>

                                        <th scope="col">Số Kilogam gửi</th>
                                        <th scope="col">Giá Cước</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>Gửi 1kg</td>
                                        <td>Giá 840.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 2kg</td>
                                        <td>Giá 500.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 3kg đến 4kg</td>
                                        <td>Giá 410.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 5kg đến 9kg</td>
                                        <td>Giá 335.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 10kg đến 14kg</td>
                                        <td>Giá 292.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 15kg đến 20kg</td>
                                        <td>Giá 285.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 21kg đến 30kg</td>
                                        <td>Giá 245.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 31kg đến 50kg</td>
                                        <td>Giá 243.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Gửi 51kg đến 68kg</td>
                                        <td>Giá 240.000 VNĐ/ 1kg</td>

                                    </tr>
                                    <tr>

                                        <td>Trên 69kg</td>
                                        <td>Giá 260.000 VNĐ/ 1kg</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <h3 class="h3-sm fw-6 txt-blue mb-4">Thông Tin Thêm</h3>
                </div>

                <div class="col-sm-12">
                    <ul class="nav nav-pills theme-tabbing mb-3" id="pills-tab2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#pills-home-first" role="tab" aria-controls="pills-home-first" aria-selected="true"><i class="icofont-user-alt-3"></i>  Thông Tin 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pills-profile-second" role="tab" aria-controls="pills-profile-second" aria-selected="false"><i class="icofont-umbrella-alt"></i> Thông Tin 2</a>
                        </li>
                    </ul>
                    <div class="tab-content theme-tabbing" id="pills-tabContent2">
                        <div class="tab-pane fade active show" id="pills-home-first" role="tabpanel" aria-labelledby="pills-home-tab">
                            <h4 class="h4-xs txt-blue">THÔNG TIN THÊM</h4>
                            <h5>Hàng nhận </h5>
                            <p>Đồ ăn/thực phầm, đồ ăn, gia dụng, trang trí, nội thất, đồ dùng cá nhân, đồ công ty</p>
                            <h5>Hàng không nhận đi kèm </h5>
                            <p>Thuốc các loại, mỹ phẩm, hàng giả hiệu(fake), các món cps thịt gà, bò, heo, trứng, yến và các hàng dể cháy nổ/ hóa chất, hàng có pin, đồ uống, mật ông</p>
                            <h5>Thời gian </h5>
                            <p>Cất hàng trước 15h để bay vào các ngày 3/5/7</p>
                            <p>Giao hàng tới cửa từ 5 - 7 ngày sau (tính ngày làm việc)</p>
                            <h5>Hàng nhận </h5>
                            <p>Đồ ăn khô, đồ ăn có nước/thực phẩm khô + nước, mỹ Phẩm, thuốc nam, thuốc bắc, cao dán, thực phẩm bổ sung, thực phẩm bảo vệ sức khỏe, thực phẩm chức năng, thời trang, đồ học tập, đồ gia dụng, đồ uống không có ga, đồ trang trí, đồ trang trí, đồ nội thất, đồ cá nhân, đồ công ty</p>
                            <h5>Hàng cộng thêm phí </h5>
                            <p>Mật ong, quần áo fake, khẩu trang fake</p>
                            <h5>Hàng không nhận đi kèm (đi cùng) </h5>
                            <p>Hàng giả hiệu(fake), các món có thịt gà, bò heo trứng, yến và các hàng dể cháy nổ/ hóa chất, hàng có pin</p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile-second" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <h4 class="h4-xs txt-blue">THÔNG TIN THÊM</h4>
                            <h5>Nhận tất cả món đồ</h5>
                            <p>Không nhận: Các món đồ ăn, đồ uống, thực phẩm, mỹ phẩm, thuốc các loại, hàng có pin, hàng fake - giả nhái hiệu </p>
                            <p>Thời gian: 4 - 10 ngày có làm việc - giao hàng tận nhà</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mt-5">
                    <h3 class="h3-sm fw-6 txt-blue mb-4">Công thức tính giá cước theo trọng lượng, kích thước</h3>
                </div>

                <div class="col-sm-offset-4">
                    <img src="~/client/assets/images/box.png" />
                </div>

                <div class="col-sm-8">
                    <h5 class="txt-blue"><span style="border-bottom:1px solid;">DÀI x RỘNG x CAO x</span> giá cước theo quốc gia</h5>
                    <h5 class="txt-blue" style="margin-top: -10px;">500</h5>
                </div>

                <div class="col-sm-12">
                    <p>Một thùng hàng có kích thước là 60 x 90 x 100 cm khi cân nặng 60kg và giá cước vận chuyển là 1$/kg. Thể tích thùng hàng sẽ được quy đổi ra trọng lượng 60 x 90 x 100 / 5000 = 108kg </p>
                    <p>Vì 108kg > 60kg nên cước phí vận chuyển hàng sẽ được tính theo thể tích , thương dương 108 x 1 $ = 108$</p>
                </div>


            </div>
            </div>
    </section>
</main>

