@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section extendCSS{
    <style>
        .productDetailInput input {
            margin-left: 15px;
        }

        .smallInput {
            width: 85px;
        }

        .mediumInput {
            width: 160px;
        }

        .largeInput {
            width: 242px;
        }

        .productDetailInput .btnAddOrderDetail {
            width: 85px;
            margin-left: 30px;
            padding: 0px 10px;
        }

        .btnAddOrder {
            padding: 0px 15px;
        }

        .orderInput div {
            margin-right: 15px;
        }

        .btn-custom-violet {
            color: #ffffff;
            background-color: blueviolet;
            border-color: blueviolet;
            box-shadow: none;
        }

            .btn-custom-violet:hover {
                color: #ffffff;
                background-color: blueviolet;
                border-color: blueviolet;
            }

            .btn-custom-violet:focus, .btn-custom-violet.focus {
                color: #ffffff;
                background-color: blueviolet;
                border-color: blueviolet;
                box-shadow: none, 0 0 0 0 rgba(72, 180, 97, 0.5);
            }

            .btn-custom-violet.disabled, .btn-custom-violet:disabled {
                color: #ffffff;
                background-color: blueviolet;
                border-color: blueviolet;
            }

            .btn-custom-violet:not(:disabled):not(.disabled):active, .btn-custom-violet:not(:disabled):not(.disabled).active,
            .show > .btn-custom-violet.dropdown-toggle {
                color: #ffffff;
                background-color: blueviolet;
                border-color: blueviolet;
            }

                .btn-custom-violet:not(:disabled):not(.disabled):active:focus, .btn-custom-violet:not(:disabled):not(.disabled).active:focus,
                .show > .btn-custom-violet.dropdown-toggle:focus {
                    box-shadow: 0 0 0 0 rgba(72, 180, 97, 0.5);
                }
    </style>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Create</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/User/Index">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Order</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-sm-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <div class="input-group d-flex align-items-center">
                            <a href="~/@(Role.Admin)/Order/Index">Quay Về</a>
                        </div>
                    </div>
                    <div class="card-body d-flex productDetailInput">
                        @Html.DropDownList("ListCategory", null, null, new { @class = "form-control form-control-sm selectpicker", @data_live_search = "true", @data_size = "5" })
                        <input type="text" placeholder="Product Code" id="productCode" name="productCode" value="" class="form-control form-control-sm" />
                        <input type="text" placeholder="Description" id="description" name="description" value="" class="form-control form-control-sm" />
                        <input type="number" placeholder="Quality" id="quality" name="quality" value="" class="form-control form-control-sm smallInput" />
                        <input type="number" placeholder="Weight" id="weight" name="weight" value="" class="form-control form-control-sm smallInput" />
                        <input type="number" placeholder="Price" id="price" name="price" value="" class="form-control form-control-sm smallInput" />
                        <button class="btnAddOrderDetail btn btn-success" id="btnAddOrderDetail">
                            <i class="fas fa-plus-circle">&nbsp;Add</i>
                        </button>
                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Category</th>
                                    <th>ProductCode</th>
                                    <th>Description</th>
                                    <th>Quality</th>
                                    <th>Weight</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>

                    <div class="card-body d-flex orderInput">
                        <div>
                            <div>Store</div>
                            @Html.DropDownList("ListStore", null, null, new { @class = "form-control form-control-sm selectpicker largeInput", @data_live_search = "true", @data_size = "5" })
                        </div>
                        <div>
                            <div>Total Weight</div>
                            <input type="number" placeholder="Total Weight" id="totalWeight" name="totalWeight" value="0" class="form-control form-control-sm smallInput" disabled/>
                        </div>
                        <div>
                            <div>Shipment</div>
                            <input type="text" placeholder="Shipment" id="shipment" name="shipment" value="" class="form-control form-control-sm mediumInput" />
                        </div>
                        <div>
                            <div>Sender Name</div>
                            @Html.DropDownList("ListSender", null, null, new { @class = "form-control form-control-sm selectpicker largeInput", @data_live_search = "true", @data_size = "5" })
                        </div>
                        <div>
                            <div>Recipient Name</div>
                            @Html.DropDownList("ListRecipient", null, null, new { @class = "form-control form-control-sm selectpicker largeInput", @data_live_search = "true", @data_size = "5" })
                        </div>
                       
                        
                    </div>
                    <div class="card-body d-flex orderInput">
                        <div>
                            <div>Note</div>
                            <textarea id="note" name="note" rows="4" cols="50"></textarea>
                        </div>
                        <div>
                            <div>&nbsp;</div>
                            <button class="btnAddOrder btn btn-custom-violet" id="btnAddOrder">
                                Create Order
                            </button>
                        </div>
                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section extendScripts{

<script>

    let listOrderDetail = [];
    var table = $('#example1').DataTable({
        columns: [
            {
                data: null, "render": function (data, type, full, meta) {
                    return meta.row;
                }
            },
            { data: null, render: 'category' },
            { data: null, render: 'productCode' },
            { data: null, render: 'description' },
            { data: null, render: 'quality' },
            { data: null, render: 'weight' },
            { data: null, render: 'price' }
        ]
    });

    //TODO add function remove kanjidetail
    $("#btnAddOrderDetail").click(function () {
        var categoryId = $("#ListCategory").val();
        var category = $("#ListCategory option:selected").text();
        var productCode = $("#productCode").val();
        var description = $("#description").val();
        var quality = $("#quality").val();
        var weight = $("#weight").val();
        var price = $("#price").val();

        var data = {
            category,
            productCode,
            description,
            quality,
            weight,
            price,
            categoryId
        }

        var oldTotal = $("#totalWeight").val();
        console.log(oldTotal);
        if (oldTotal == undefined || oldTotal == "" || oldTotal == null) {
            oldTotal = 0;
        }

        var newTotal = parseInt(oldTotal) + parseInt(weight) * parseInt(quality);
        $("#totalWeight").val(newTotal)
        console.log($("#totalWeight").val());
        table.row.add(data);
        table.draw();
        listOrderDetail.push(data);
    });

    $("#btnAddOrder").click(function () {

        var StoreId = $("#ListStore").val();
        var SenderId = $("#ListSender").val();
        var RecipientId = $("#ListRecipient").val();
        var Shipment = $("#totalWeight").val();
        var TotalWeight = $("#shipment").val();
        var Note = $("#note").val();

        $.ajax({
            url: "/Admin/Order/Create",
            type: "POST",
            data: {
                StoreId: StoreId,
                SenderId: SenderId,
                RecipientId: RecipientId,
                Shipment: Shipment,
                TotalWeight: TotalWeight,
                Note: Note,
                listOrdertail: listOrderDetail
                
            },
            dataType: "JSON",
            success: function (response) {
                window.location.href = "/Admin/Order";
            }
        });
    });

</script>
}